In [10]:
import pandas as pd
import numpy as np
import os

In [11]:
dir_path = '/home/zhangy15/projects/SSC_SPARK_combine/Revise_denovo_7152024/method2/'
os.chdir(dir_path)

In [2]:
#gnocchi score
gnocchi=pd.read_csv('/home/zhangy15/projects/SSC_SPARK_combine/SSC_SPARK_R_4_29/constraint_z_genome_1kb.qc.download', sep='\t')
gnocchi=gnocchi[['chrom','start','end','element_id','expected','observed','z']]
gnocchi.columns=['chr','start','end','element_id','expected','observed','gscore']
gnocchi

,chr,start,end,element_id,expected,observed,gscore
0,chr1,783000,784000,chr1-783000-784000,159.092125,142.0,1.355101
1,chr1,784000,785000,chr1-784000-785000,138.540953,118.0,1.745145
2,chr1,786000,787000,chr1-786000-787000,192.961444,132.0,4.388539
3,chr1,787000,788000,chr1-787000-788000,205.114295,178.0,1.893217
4,chr1,792000,793000,chr1-792000-793000,109.742383,88.0,2.075487
...,...,...,...,...,...,...,...
1984895,chr22,50767000,50768000,chr22-50767000-50768000,131.055257,150.0,-1.654861
1984896,chr22,50772000,50773000,chr22-50772000-50773000,235.852270,202.0,2.204285
1984897,chr22,50773000,50774000,chr22-50773000-50774000,159.482216,145.0,1.146777
1984898,chr22,50775000,50776000,chr22-50775000-50776000,267.726039,224.0,2.672359
1984899,chr22,50776000,50777000,chr22-50776000-50777000,127.403352,116.0,1.010281

In [3]:
#generate bed to match dnm from our cohort
gnocchi_bed=gnocchi[['chr','start','end']]
#must sort
gnocchi_bed=gnocchi_bed.sort_values(['chr', 'start'])
gnocchi_bed.to_csv('/home/zhangy15/projects/SSC_SPARK_combine/Revise_denovo_7152024/method2/gnocchi.bed', sep='\t', index=False,header=None)

In [4]:
#generate bed for spark case
##spark cohort
dnm_gt=pd.read_csv('/home/zhangy15/projects/SSC_SPARK_combine/SSC_SPARK_3_22/SPARK_DNM_summary_case_score_rmlowmap_rm100bp_rmMUC', sep='\t')
#remove coding dnm
dnm_gt = dnm_gt[
    (dnm_gt['Func'] != 'splicing') & 
    (dnm_gt['Func'] != 'exonic') & 
    (dnm_gt['Func'] != 'exonic\\x3bsplicing') &
    (dnm_gt['Func'] != 'intergenic')
]
#extract chr and pos
dnm_gt=dnm_gt[['chr','pos','pos','sample','gene']]
dnm_gt.columns=['chr','pos','pos1','sample','gene']
#bedtools need 5 columns to runn map
dnm_gt['pos1']=dnm_gt['pos']
#run bedtools need sort first
dnm_gt=dnm_gt.sort_values(['chr', 'pos'])
dnm_gt.to_csv('/home/zhangy15/projects/SSC_SPARK_combine/Revise_denovo_7152024/method2/spark_dnm_case.bed', sep='\t', index=False, header=None)

In [5]:
#generate bed for spark ctrl
##spark cohort
dnm_gt=pd.read_csv('/home/zhangy15/projects/SSC_SPARK_combine/SSC_SPARK_3_22/SPARK_DNM_summary_ctrl_score_rmlowmap_rm100bp_rmMUC', sep='\t')
#remove coding dnm
dnm_gt = dnm_gt[
    (dnm_gt['Func'] != 'splicing') & 
    (dnm_gt['Func'] != 'exonic') & 
    (dnm_gt['Func'] != 'exonic\\x3bsplicing') &
    (dnm_gt['Func'] != 'intergenic')
]
#extract chr and pos
dnm_gt=dnm_gt[['chr','pos','pos','sample','gene']]
dnm_gt.columns=['chr','pos','pos1','sample','gene']
#bedtools need 5 columns to runn map
dnm_gt['pos1']=dnm_gt['pos']
#run bedtools need sort first
dnm_gt=dnm_gt.sort_values(['chr', 'pos'])
dnm_gt.to_csv('/home/zhangy15/projects/SSC_SPARK_combine/Revise_denovo_7152024/method2/spark_dnm_ctrl.bed', sep='\t', index=False, header=None)

In [6]:
##SSC cohort-case
dnm_gt=pd.read_csv('/home/zhangy15/projects/SSC_SPARK_combine/SSC_SPARK_3_22/SSC_DNM_summary_case_score_rmlowmap_rm100bp_rmMUC', sep='\t')
#remove coding dnm
dnm_gt = dnm_gt[
    (dnm_gt['Func'] != 'splicing') & 
    (dnm_gt['Func'] != 'exonic') & 
    (dnm_gt['Func'] != 'exonic\\x3bsplicing') &
    (dnm_gt['Func'] != 'intergenic')]
#extract chr and pos
#extract chr and pos
dnm_gt=dnm_gt[['chr','pos','pos','sample','gene']]
dnm_gt.columns=['chr','pos','pos1','sample','gene']
#bedtools need 5 columns to runn map
dnm_gt['pos1']=dnm_gt['pos']
#run bedtools need sort first
dnm_gt=dnm_gt.sort_values(['chr', 'pos'])
dnm_gt.to_csv('/home/zhangy15/projects/SSC_SPARK_combine/Revise_denovo_7152024/method2/SSC_dnm_case.bed', sep='\t', index=False, header=None)

In [7]:
##SSC cohort-ctrl
dnm_gt=pd.read_csv('/home/zhangy15/projects/SSC_SPARK_combine/SSC_SPARK_3_22/SSC_DNM_summary_ctrl_score_rmlowmap_rm100bp_rmMUC', sep='\t')
#remove coding dnm
dnm_gt = dnm_gt[
    (dnm_gt['Func'] != 'splicing') & 
    (dnm_gt['Func'] != 'exonic') & 
    (dnm_gt['Func'] != 'exonic\\x3bsplicing') &
    (dnm_gt['Func'] != 'intergenic')]
#extract chr and pos
dnm_gt=dnm_gt[['chr','pos','pos','sample','gene']]
dnm_gt.columns=['chr','pos','pos1','sample','gene']
#bedtools need 5 columns to runn map
dnm_gt['pos1']=dnm_gt['pos']
#run bedtools need sort first
dnm_gt=dnm_gt.sort_values(['chr', 'pos'])
dnm_gt.to_csv('/home/zhangy15/projects/SSC_SPARK_combine/Revise_denovo_7152024/method2/SSC_dnm_ctrl.bed', sep='\t', index=False, header=None)

In [8]:
#running bedtools: bedtools map -a gnocchi.bed -b spark_dnm.bed -o count > dnm_obs_spark

In [16]:
#spark_merge_case
obs_gt=pd.read_csv('dnm_obs_spark_case', sep='\t',header=None)
obs_gt.columns=['chr','start','end','obs_spark_case']
obs_gt['element_id']=obs_gt['chr']+'-'+obs_gt['start'].astype(str)+'-'+obs_gt['end'].astype(str)
obs_gt=obs_gt[['element_id','obs_spark_case']]
gscore_spark_case=pd.merge(gnocchi,obs_gt, on='element_id', how ='left')
gscore_spark_case

,chr,start,end,element_id,expected,observed,gscore,obs_spark_case
0,chr1,783000,784000,chr1-783000-784000,159.092125,142.0,1.355101,0
1,chr1,784000,785000,chr1-784000-785000,138.540953,118.0,1.745145,0
2,chr1,786000,787000,chr1-786000-787000,192.961444,132.0,4.388539,0
3,chr1,787000,788000,chr1-787000-788000,205.114295,178.0,1.893217,0
4,chr1,792000,793000,chr1-792000-793000,109.742383,88.0,2.075487,0
...,...,...,...,...,...,...,...,...
1984895,chr22,50767000,50768000,chr22-50767000-50768000,131.055257,150.0,-1.654861,0
1984896,chr22,50772000,50773000,chr22-50772000-50773000,235.852270,202.0,2.204285,0
1984897,chr22,50773000,50774000,chr22-50773000-50774000,159.482216,145.0,1.146777,0
1984898,chr22,50775000,50776000,chr22-50775000-50776000,267.726039,224.0,2.672359,0
1984899,chr22,50776000,50777000,chr22-50776000-50777000,127.403352,116.0,1.010281,0

In [17]:
#spark_merge_ctrl
obs_gt=pd.read_csv('dnm_obs_spark_ctrl', sep='\t',header=None)
obs_gt.columns=['chr','start','end','obs_spark_ctrl']
obs_gt['element_id']=obs_gt['chr']+'-'+obs_gt['start'].astype(str)+'-'+obs_gt['end'].astype(str)
obs_gt=obs_gt[['element_id','obs_spark_ctrl']]
gscore_spark=pd.merge(gscore_spark_case,obs_gt, on='element_id', how ='left')
gscore_spark

,chr,start,end,element_id,expected,observed,gscore,obs_spark_case,obs_spark_ctrl
0,chr1,783000,784000,chr1-783000-784000,159.092125,142.0,1.355101,0,0
1,chr1,784000,785000,chr1-784000-785000,138.540953,118.0,1.745145,0,0
2,chr1,786000,787000,chr1-786000-787000,192.961444,132.0,4.388539,0,0
3,chr1,787000,788000,chr1-787000-788000,205.114295,178.0,1.893217,0,0
4,chr1,792000,793000,chr1-792000-793000,109.742383,88.0,2.075487,0,0
...,...,...,...,...,...,...,...,...,...
1984895,chr22,50767000,50768000,chr22-50767000-50768000,131.055257,150.0,-1.654861,0,0
1984896,chr22,50772000,50773000,chr22-50772000-50773000,235.852270,202.0,2.204285,0,0
1984897,chr22,50773000,50774000,chr22-50773000-50774000,159.482216,145.0,1.146777,0,0
1984898,chr22,50775000,50776000,chr22-50775000-50776000,267.726039,224.0,2.672359,0,0
1984899,chr22,50776000,50777000,chr22-50776000-50777000,127.403352,116.0,1.010281,0,0

In [18]:
#ssc_merge_case
obs_gt=pd.read_csv('dnm_obs_ssc_case', sep='\t',header=None)
obs_gt.columns=['chr','start','end','obs_ssc_case']
obs_gt['element_id']=obs_gt['chr']+'-'+obs_gt['start'].astype(str)+'-'+obs_gt['end'].astype(str)
obs_gt=obs_gt[['element_id','obs_ssc_case']]
gscore_ssc_case=pd.merge(gnocchi,obs_gt, on='element_id', how ='left')
gscore_ssc_case

,chr,start,end,element_id,expected,observed,gscore,obs_ssc_case
0,chr1,783000,784000,chr1-783000-784000,159.092125,142.0,1.355101,0
1,chr1,784000,785000,chr1-784000-785000,138.540953,118.0,1.745145,0
2,chr1,786000,787000,chr1-786000-787000,192.961444,132.0,4.388539,0
3,chr1,787000,788000,chr1-787000-788000,205.114295,178.0,1.893217,0
4,chr1,792000,793000,chr1-792000-793000,109.742383,88.0,2.075487,0
...,...,...,...,...,...,...,...,...
1984895,chr22,50767000,50768000,chr22-50767000-50768000,131.055257,150.0,-1.654861,0
1984896,chr22,50772000,50773000,chr22-50772000-50773000,235.852270,202.0,2.204285,0
1984897,chr22,50773000,50774000,chr22-50773000-50774000,159.482216,145.0,1.146777,0
1984898,chr22,50775000,50776000,chr22-50775000-50776000,267.726039,224.0,2.672359,0
1984899,chr22,50776000,50777000,chr22-50776000-50777000,127.403352,116.0,1.010281,0

In [19]:
#ssc_merge_case
obs_gt=pd.read_csv('dnm_obs_ssc_ctrl', sep='\t',header=None)
obs_gt.columns=['chr','start','end','obs_ssc_ctrl']
obs_gt['element_id']=obs_gt['chr']+'-'+obs_gt['start'].astype(str)+'-'+obs_gt['end'].astype(str)
obs_gt=obs_gt[['element_id','obs_ssc_ctrl']]
gscore_ssc=pd.merge(gscore_ssc_case,obs_gt, on='element_id', how ='left')
gscore_ssc

,chr,start,end,element_id,expected,observed,gscore,obs_ssc_case,obs_ssc_ctrl
0,chr1,783000,784000,chr1-783000-784000,159.092125,142.0,1.355101,0,0
1,chr1,784000,785000,chr1-784000-785000,138.540953,118.0,1.745145,0,0
2,chr1,786000,787000,chr1-786000-787000,192.961444,132.0,4.388539,0,0
3,chr1,787000,788000,chr1-787000-788000,205.114295,178.0,1.893217,0,0
4,chr1,792000,793000,chr1-792000-793000,109.742383,88.0,2.075487,0,0
...,...,...,...,...,...,...,...,...,...
1984895,chr22,50767000,50768000,chr22-50767000-50768000,131.055257,150.0,-1.654861,0,0
1984896,chr22,50772000,50773000,chr22-50772000-50773000,235.852270,202.0,2.204285,0,0
1984897,chr22,50773000,50774000,chr22-50773000-50774000,159.482216,145.0,1.146777,0,0
1984898,chr22,50775000,50776000,chr22-50775000-50776000,267.726039,224.0,2.672359,0,0
1984899,chr22,50776000,50777000,chr22-50776000-50777000,127.403352,116.0,1.010281,0,0

In [24]:
gscore_ssc_obs=gscore_ssc[['element_id','obs_ssc_case','obs_ssc_ctrl']]
gscore_ssc_obs

                      element_id  obs_ssc_case  obs_ssc_ctrl
0             chr1-783000-784000             0             0
1             chr1-784000-785000             0             0
2             chr1-786000-787000             0             0
3             chr1-787000-788000             0             0
4             chr1-792000-793000             0             0
...                          ...           ...           ...
1984895  chr22-50767000-50768000             0             0
1984896  chr22-50772000-50773000             0             0
1984897  chr22-50773000-50774000             0             0
1984898  chr22-50775000-50776000             0             0
1984899  chr22-50776000-50777000             0             0

[1984900 rows x 3 columns]

In [25]:
gscore_final=pd.merge(gscore_spark,gscore_ssc_obs, on='element_id', how='left')
gscore_final

,chr,start,end,element_id,expected,observed,gscore,obs_spark_case,obs_spark_ctrl,obs_ssc_case,obs_ssc_ctrl
0,chr1,783000,784000,chr1-783000-784000,159.092125,142.0,1.355101,0,0,0,0
1,chr1,784000,785000,chr1-784000-785000,138.540953,118.0,1.745145,0,0,0,0
2,chr1,786000,787000,chr1-786000-787000,192.961444,132.0,4.388539,0,0,0,0
3,chr1,787000,788000,chr1-787000-788000,205.114295,178.0,1.893217,0,0,0,0
4,chr1,792000,793000,chr1-792000-793000,109.742383,88.0,2.075487,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1984895,chr22,50767000,50768000,chr22-50767000-50768000,131.055257,150.0,-1.654861,0,0,0,0
1984896,chr22,50772000,50773000,chr22-50772000-50773000,235.852270,202.0,2.204285,0,0,0,0
1984897,chr22,50773000,50774000,chr22-50773000-50774000,159.482216,145.0,1.146777,0,0,0,0
1984898,chr22,50775000,50776000,chr22-50775000-50776000,267.726039,224.0,2.672359,0,0,0,0
1984899,chr22,50776000,50777000,chr22-50776000-50777000,127.403352,116.0,1.010281,0,0,0,0

In [30]:
gscore_final.to_csv('gscore_final', sep='\t', index=False)

In [31]:
##generate gene information for 1Kb region

In [32]:
#read annotation for 1Kb 
anno=pd.read_csv('/home/zhangy15/projects/SSC_SPARK_combine/SSC_SPARK_3_22/anno.hg38_multianno.csv', sep=',')
#add column names
anno=anno[['Chr','Start','End','Func.refGene','Gene.refGene','GeneDetail.refGene']]

In [33]:
#intergenic gene
anno_gt=anno[anno['Func.refGene'] =='intergenic']
anno_gt

,Chr,Start,End,Func.refGene,Gene.refGene,GeneDetail.refGene
0,chr1,783000,784000,intergenic,LOC100288069;FAM87B,dist=4366;dist=33371
1,chr1,784000,785000,intergenic,LOC100288069;FAM87B,dist=5366;dist=32371
2,chr1,786000,787000,intergenic,LOC100288069;FAM87B,dist=7366;dist=30371
3,chr1,787000,788000,intergenic,LOC100288069;FAM87B,dist=8366;dist=29371
4,chr1,792000,793000,intergenic,LOC100288069;FAM87B,dist=13366;dist=24371
...,...,...,...,...,...,...
1984893,chr9,138134000,138135000,intergenic,CACNA1B;TUBBP5,dist=9383;dist=15113
1984894,chr9,138136000,138137000,intergenic,CACNA1B;TUBBP5,dist=11383;dist=13113
1984895,chr9,138138000,138139000,intergenic,CACNA1B;TUBBP5,dist=13383;dist=11113
1984896,chr9,138139000,138140000,intergenic,CACNA1B;TUBBP5,dist=14383;dist=10113
1984898,chr9,138210000,138211000,intergenic,LOC101928932;FAM157B,dist=6547;dist=5856

In [34]:
#split gene and dist
splits=anno_gt['Gene.refGene'].str.split(';', expand=True)
anno_gt['geneA'] = splits[0]
anno_gt['geneB'] = splits[1]
#split dist
splitsA=anno_gt['GeneDetail.refGene'].str.split(';', expand=True)
anno_gt['distA'] = splitsA[0]
anno_gt['distB'] = splitsA[1]
#replace 'dist=' with ''
anno_gt['distA']=anno_gt['distA'].str.replace('dist=', '')
anno_gt['distB']=anno_gt['distB'].str.replace('dist=', '')
# Ensure distA and distB are numeric, handling 'NONE' values
anno_gt['distA'] = pd.to_numeric(anno_gt['distA'], errors='coerce')
anno_gt['distB'] = pd.to_numeric(anno_gt['distB'], errors='coerce')

def decide_gene(row):
    if pd.isnull(row['distA']) and not pd.isnull(row['distB']):
        return row['geneB']
    elif not pd.isnull(row['distA']) and pd.isnull(row['distB']):
        return row['geneA']
    elif not pd.isnull(row['distA']) and not pd.isnull(row['distB']):
        if row['distA'] > row['distB']:
            return row['geneB']
        else:
            return row['geneA']
    else:
        return np.nan  # Or another default value for cases where both are NONE

# Apply the function to decide the gene based on the conditions
anno_gt['gene'] = anno_gt.apply(decide_gene, axis=1)

/tmp/ipykernel_1777985/3837309561.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anno_gt['geneA'] = splits[0]
/tmp/ipykernel_1777985/3837309561.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anno_gt['geneB'] = splits[1]
/tmp/ipykernel_1777985/3837309561.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anno_gt['distA'] = splitsA[0]
/tmp/ipykernel_1777985/3837309561.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anno_gt['distB'] = splitsA[1]
/tmp/ipykernel_1777985/3837309561.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anno_gt['distA']=anno_gt['distA'].str.replace('dist=', '')
/tmp/ipykernel_1777985/3837309561.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anno_gt['distB']=anno_gt['distB'].str.replace('dist=', '')
/tmp/ipykernel_1777985/3837309561.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anno_gt['distA'] = pd.to_numeric(anno_gt['distA'], errors='coerce')
/tmp/ipykernel_1777985/3837309561.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anno_gt['distB'] = pd.to_numeric(anno_gt['distB'], errors='coerce')
/tmp/ipykernel_1777985/3837309561.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anno_gt['gene'] = anno_gt.apply(decide_gene, axis=1)

In [35]:
anno_df=anno_gt[['Chr','Start','End','Func.refGene','gene']]
anno_df

          Chr      Start        End Func.refGene          gene
0        chr1     783000     784000   intergenic  LOC100288069
1        chr1     784000     785000   intergenic  LOC100288069
2        chr1     786000     787000   intergenic  LOC100288069
3        chr1     787000     788000   intergenic  LOC100288069
4        chr1     792000     793000   intergenic  LOC100288069
...       ...        ...        ...          ...           ...
1984893  chr9  138134000  138135000   intergenic       CACNA1B
1984894  chr9  138136000  138137000   intergenic       CACNA1B
1984895  chr9  138138000  138139000   intergenic        TUBBP5
1984896  chr9  138139000  138140000   intergenic        TUBBP5
1984898  chr9  138210000  138211000   intergenic       FAM157B

[982936 rows x 5 columns]

In [36]:
#non-intergenic gene 
anno_noncoding=anno[anno['Func.refGene'] !='intergenic']
anno_noncoding=anno_noncoding[['Chr','Start','End','Func.refGene','Gene.refGene']]
anno_noncoding.columns=['Chr','Start','End','Func.refGene','gene']
#concat non-intergenic and intergenic
anno_final=pd.concat([anno_noncoding, anno_df])
anno_final=anno_final.sort_values(['Chr','Start'])
#generate element_id to merge
anno_final['element_id']=anno_final['Chr']+'-'+anno_final['Start'].astype(str)+'-'+anno_final['End'].astype(str)
#extract id and gene to merge to 1Kb
anno_gene=anno_final[['element_id','gene','Func.refGene']]
anno_gene

                       element_id          gene    Func.refGene
0              chr1-783000-784000  LOC100288069      intergenic
1              chr1-784000-785000  LOC100288069      intergenic
2              chr1-786000-787000  LOC100288069      intergenic
3              chr1-787000-788000  LOC100288069      intergenic
4              chr1-792000-793000  LOC100288069      intergenic
...                           ...           ...             ...
1984895  chr9-138138000-138139000        TUBBP5      intergenic
1984896  chr9-138139000-138140000        TUBBP5      intergenic
1984897  chr9-138158000-138159000        TUBBP5  ncRNA_intronic
1984898  chr9-138210000-138211000       FAM157B      intergenic
1984899  chr9-138217000-138218000       FAM157B    ncRNA_exonic

[1984900 rows x 3 columns]

In [37]:
##generate gene information for 1Kb region

In [38]:
gscore_final=pd.read_csv('gscore_final', sep='\t')

In [39]:
gscore_final

,chr,start,end,element_id,expected,observed,gscore,obs_spark_case,obs_spark_ctrl,obs_ssc_case,obs_ssc_ctrl
0,chr1,783000,784000,chr1-783000-784000,159.092125,142.0,1.355101,0,0,0,0
1,chr1,784000,785000,chr1-784000-785000,138.540953,118.0,1.745145,0,0,0,0
2,chr1,786000,787000,chr1-786000-787000,192.961444,132.0,4.388539,0,0,0,0
3,chr1,787000,788000,chr1-787000-788000,205.114295,178.0,1.893217,0,0,0,0
4,chr1,792000,793000,chr1-792000-793000,109.742383,88.0,2.075487,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1984895,chr22,50767000,50768000,chr22-50767000-50768000,131.055257,150.0,-1.654861,0,0,0,0
1984896,chr22,50772000,50773000,chr22-50772000-50773000,235.852270,202.0,2.204285,0,0,0,0
1984897,chr22,50773000,50774000,chr22-50773000-50774000,159.482216,145.0,1.146777,0,0,0,0
1984898,chr22,50775000,50776000,chr22-50775000-50776000,267.726039,224.0,2.672359,0,0,0,0
1984899,chr22,50776000,50777000,chr22-50776000-50777000,127.403352,116.0,1.010281,0,0,0,0

In [40]:
#add gene information
gscore_gene=pd.merge(gscore_final,anno_gene, on='element_id',how='left')
gscore_gene

,chr,start,end,element_id,expected,observed,gscore,obs_spark_case,obs_spark_ctrl,obs_ssc_case,obs_ssc_ctrl,gene,Func.refGene
0,chr1,783000,784000,chr1-783000-784000,159.092125,142.0,1.355101,0,0,0,0,LOC100288069,intergenic
1,chr1,784000,785000,chr1-784000-785000,138.540953,118.0,1.745145,0,0,0,0,LOC100288069,intergenic
2,chr1,786000,787000,chr1-786000-787000,192.961444,132.0,4.388539,0,0,0,0,LOC100288069,intergenic
3,chr1,787000,788000,chr1-787000-788000,205.114295,178.0,1.893217,0,0,0,0,LOC100288069,intergenic
4,chr1,792000,793000,chr1-792000-793000,109.742383,88.0,2.075487,0,0,0,0,LOC100288069,intergenic
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984895,chr22,50767000,50768000,chr22-50767000-50768000,131.055257,150.0,-1.654861,0,0,0,0,RPL23AP82,ncRNA_intronic
1984896,chr22,50772000,50773000,chr22-50772000-50773000,235.852270,202.0,2.204285,0,0,0,0,RPL23AP82,ncRNA_intronic
1984897,chr22,50773000,50774000,chr22-50773000-50774000,159.482216,145.0,1.146777,0,0,0,0,RPL23AP82,ncRNA_intronic
1984898,chr22,50775000,50776000,chr22-50775000-50776000,267.726039,224.0,2.672359,0,0,0,0,RABL2B,exonic
1984899,chr22,50776000,50777000,chr22-50776000-50777000,127.403352,116.0,1.010281,0,0,0,0,RABL2B,exonic

In [41]:
#sav
gscore_gene.to_csv('gscore_final_gene.csv', sep='\t',index=False)

In [42]:
#read
gscore_final_gene=pd.read_csv('gscore_final_gene.csv', sep='\t')

In [43]:
gscore_final_gene

,chr,start,end,element_id,expected,observed,gscore,obs_spark_case,obs_spark_ctrl,obs_ssc_case,obs_ssc_ctrl,gene,Func.refGene
0,chr1,783000,784000,chr1-783000-784000,159.092125,142.0,1.355101,0,0,0,0,LOC100288069,intergenic
1,chr1,784000,785000,chr1-784000-785000,138.540953,118.0,1.745145,0,0,0,0,LOC100288069,intergenic
2,chr1,786000,787000,chr1-786000-787000,192.961444,132.0,4.388539,0,0,0,0,LOC100288069,intergenic
3,chr1,787000,788000,chr1-787000-788000,205.114295,178.0,1.893217,0,0,0,0,LOC100288069,intergenic
4,chr1,792000,793000,chr1-792000-793000,109.742383,88.0,2.075487,0,0,0,0,LOC100288069,intergenic
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984895,chr22,50767000,50768000,chr22-50767000-50768000,131.055257,150.0,-1.654861,0,0,0,0,RPL23AP82,ncRNA_intronic
1984896,chr22,50772000,50773000,chr22-50772000-50773000,235.852270,202.0,2.204285,0,0,0,0,RPL23AP82,ncRNA_intronic
1984897,chr22,50773000,50774000,chr22-50773000-50774000,159.482216,145.0,1.146777,0,0,0,0,RPL23AP82,ncRNA_intronic
1984898,chr22,50775000,50776000,chr22-50775000-50776000,267.726039,224.0,2.672359,0,0,0,0,RABL2B,exonic
1984899,chr22,50776000,50777000,chr22-50776000-50777000,127.403352,116.0,1.010281,0,0,0,0,RABL2B,exonic

In [44]:
gscore_final_gene=gscore_final_gene[
    (gscore_final_gene['Func.refGene'] != 'splicing') & 
    (gscore_final_gene['Func.refGene'] != 'exonic') & 
    (gscore_final_gene['Func.refGene'] != 'exonic\\x3bsplicing') &
    (gscore_final_gene['Func.refGene'] != 'intergenic')
]
gscore_final_gene

,chr,start,end,element_id,expected,observed,gscore,obs_spark_case,obs_spark_ctrl,obs_ssc_case,obs_ssc_ctrl,gene,Func.refGene
17,chr1,829000,830000,chr1-829000-830000,228.794927,193.0,2.366455,0,0,0,0,LINC01128,ncRNA_exonic
18,chr1,830000,831000,chr1-830000-831000,134.771682,121.0,1.186281,0,0,0,0,LINC01128,ncRNA_intronic
19,chr1,832000,833000,chr1-832000-833000,100.516813,88.0,1.248459,0,1,0,0,LINC01128,ncRNA_intronic
20,chr1,833000,834000,chr1-833000-834000,237.319179,198.0,2.552337,1,0,0,0,LINC01128,ncRNA_intronic
21,chr1,837000,838000,chr1-837000-838000,96.538599,80.0,1.683248,0,0,0,0,LINC01128,ncRNA_intronic
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984886,chr22,50741000,50742000,chr22-50741000-50742000,69.132643,62.0,0.857845,0,0,0,0,ACR,intronic
1984887,chr22,50743000,50744000,chr22-50743000-50744000,94.726793,93.0,0.177421,0,0,1,0,ACR,intronic
1984895,chr22,50767000,50768000,chr22-50767000-50768000,131.055257,150.0,-1.654861,0,0,0,0,RPL23AP82,ncRNA_intronic
1984896,chr22,50772000,50773000,chr22-50772000-50773000,235.852270,202.0,2.204285,0,0,0,0,RPL23AP82,ncRNA_intronic
1984897,chr22,50773000,50774000,chr22-50773000-50774000,159.482216,145.0,1.146777,0,0,0,0,RPL23AP82,ncRNA_intronic

In [45]:
#beta=the “expected counts” in gnomAD 1kb bin divided by “average expected counts per 1kb”
exp_average=gscore_final_gene['expected'].mean()
print(exp_average)
gscore_final_gene['beta']=gscore_final_gene['expected']/exp_average
gscore_final_gene['beta'].mean()

172.07953612789052

/tmp/ipykernel_1777985/3333202717.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gscore_final_gene['beta']=gscore_final_gene['expected']/exp_average

1.0

In [46]:
gscore_final_gene['beta'].median()

1.020469581405467

In [47]:
#average expected counts per 1kb
average_count_1kb_spark=gscore_final_gene['obs_spark_case'].sum()/862475
average_count_1kb_ssc=gscore_final_gene['obs_ssc_case'].sum()/862475
print(average_count_1kb_spark)
print(average_count_1kb_ssc)

0.10465926548595611
0.06684367662830806

In [48]:
gscore_final_gene['exp_spark']=gscore_final_gene['beta']*average_count_1kb_spark
gscore_final_gene['exp_spark'].mean()

/tmp/ipykernel_1777985/584747916.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gscore_final_gene['exp_spark']=gscore_final_gene['beta']*average_count_1kb_spark

0.10465926548595617

In [49]:
gscore_final_gene['exp_ssc']=gscore_final_gene['beta']*average_count_1kb_ssc
gscore_final_gene['exp_ssc'].mean()

/tmp/ipykernel_1777985/983806907.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gscore_final_gene['exp_ssc']=gscore_final_gene['beta']*average_count_1kb_ssc

0.06684367662830808

In [51]:
gscore_final_gene['obs_spark_case'].mean()

0.10465926548595611

In [52]:
gscore_final_gene['exp_spark'].mean()

0.10465926548595617

In [53]:
df1=gscore_final_gene[~gscore_final_gene['gene'].str.contains(';', na=False, case=False)]
df2=gscore_final_gene[gscore_final_gene["gene"].str.contains(';', na=False, case=False)]
df2['gene'] = df2['gene'].str.split(';')
df_exploded = df2.explode('gene')
df_exploded

/tmp/ipykernel_1777985/3782084192.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['gene'] = df2['gene'].str.split(';')

,chr,start,end,element_id,expected,observed,gscore,obs_spark_case,obs_spark_ctrl,obs_ssc_case,obs_ssc_ctrl,gene,Func.refGene,beta,exp_spark,exp_ssc
51,chr1,975000,976000,chr1-975000-976000,135.499999,128.0,0.644305,0,0,0,0,PERM1,UTR3,0.787427,0.082411,0.052634
51,chr1,975000,976000,chr1-975000-976000,135.499999,128.0,0.644305,0,0,0,0,PLEKHN1,UTR3,0.787427,0.082411,0.052634
108,chr1,1215000,1216000,chr1-1215000-1216000,216.901303,160.0,3.863591,0,0,0,0,TNFRSF4,upstream;downstream,1.260471,0.131920,0.084255
108,chr1,1215000,1216000,chr1-1215000-1216000,216.901303,160.0,3.863591,0,0,0,0,SDF4,upstream;downstream,1.260471,0.131920,0.084255
265,chr1,1631000,1632000,chr1-1631000-1632000,185.633553,177.0,0.633667,0,0,0,0,MMP23A,upstream;downstream,1.078766,0.112903,0.072109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1982656,chr22,46053000,46054000,chr22-46053000-46054000,192.334925,130.0,4.494717,2,0,0,0,PRR34-AS1,ncRNA_exonic,1.117709,0.116979,0.074712
1983532,chr22,47631000,47632000,chr22-47631000-47632000,255.280923,256.0,-0.045006,0,0,0,0,LINC00898,ncRNA_exonic,1.483505,0.155263,0.099163
1983532,chr22,47631000,47632000,chr22-47631000-47632000,255.280923,256.0,-0.045006,0,0,0,0,LOC284930,ncRNA_exonic,1.483505,0.155263,0.099163
1984879,chr22,50734000,50735000,chr22-50734000-50735000,266.271407,208.0,3.571028,1,1,0,0,LOC105373100,downstream,1.547374,0.161947,0.103432
1984879,chr22,50734000,50735000,chr22-50734000-50735000,266.271407,208.0,3.571028,1,1,0,0,SHANK3,downstream,1.547374,0.161947,0.103432

In [54]:
gscore_final_gene=pd.concat([df1, df_exploded])
gscore_final_gene.sort_values(['chr','start'])
gscore_final_gene

,chr,start,end,element_id,expected,observed,gscore,obs_spark_case,obs_spark_ctrl,obs_ssc_case,obs_ssc_ctrl,gene,Func.refGene,beta,exp_spark,exp_ssc
17,chr1,829000,830000,chr1-829000-830000,228.794927,193.0,2.366455,0,0,0,0,LINC01128,ncRNA_exonic,1.329588,0.139154,0.088875
18,chr1,830000,831000,chr1-830000-831000,134.771682,121.0,1.186281,0,0,0,0,LINC01128,ncRNA_intronic,0.783194,0.081969,0.052352
19,chr1,832000,833000,chr1-832000-833000,100.516813,88.0,1.248459,0,1,0,0,LINC01128,ncRNA_intronic,0.584130,0.061135,0.039045
20,chr1,833000,834000,chr1-833000-834000,237.319179,198.0,2.552337,1,0,0,0,LINC01128,ncRNA_intronic,1.379125,0.144338,0.092186
21,chr1,837000,838000,chr1-837000-838000,96.538599,80.0,1.683248,0,0,0,0,LINC01128,ncRNA_intronic,0.561012,0.058715,0.037500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1982656,chr22,46053000,46054000,chr22-46053000-46054000,192.334925,130.0,4.494717,2,0,0,0,PRR34-AS1,ncRNA_exonic,1.117709,0.116979,0.074712
1983532,chr22,47631000,47632000,chr22-47631000-47632000,255.280923,256.0,-0.045006,0,0,0,0,LINC00898,ncRNA_exonic,1.483505,0.155263,0.099163
1983532,chr22,47631000,47632000,chr22-47631000-47632000,255.280923,256.0,-0.045006,0,0,0,0,LOC284930,ncRNA_exonic,1.483505,0.155263,0.099163
1984879,chr22,50734000,50735000,chr22-50734000-50735000,266.271407,208.0,3.571028,1,1,0,0,LOC105373100,downstream,1.547374,0.161947,0.103432
1984879,chr22,50734000,50735000,chr22-50734000-50735000,266.271407,208.0,3.571028,1,1,0,0,SHANK3,downstream,1.547374,0.161947,0.103432

In [55]:
#save to run the each bin analysis, not gene
gscore_final_gene.to_csv('gscore_final_gene_bin', sep='\t', index=False)

In [60]:
gt=gscore_final_gene[['gene','chr','start','end','obs_spark_case','obs_spark_ctrl', 'exp_spark', 'obs_ssc_case', 'obs_ssc_ctrl','exp_ssc']]
#sum obs and exp count by gene groups
obs_spark_case=gt.groupby('gene')['obs_spark_case'].agg(sum).reset_index()
obs_spark_ctrl=gt.groupby('gene')['obs_spark_ctrl'].agg(sum).reset_index()
exp_spark=gt.groupby('gene')['exp_spark'].agg(sum).reset_index()
obs_ssc_case=gt.groupby('gene')['obs_ssc_case'].agg(sum).reset_index()
obs_ssc_ctrl=gt.groupby('gene')['obs_ssc_ctrl'].agg(sum).reset_index()
exp_ssc=gt.groupby('gene')['exp_ssc'].agg(sum).reset_index()
#merge the obs and exp by each gene
merged_spark = pd.merge(obs_spark_case, obs_spark_ctrl, on='gene')
merged_spark_final = pd.merge(merged_spark, exp_spark, on='gene')
merged_ssc = pd.merge(obs_ssc_case, obs_ssc_ctrl, on='gene')
merged_ssc_final = pd.merge(merged_ssc, exp_ssc, on='gene')                   
merged_gt = pd.merge(merged_spark_final, merged_ssc_final, on='gene')
merged_gt

/tmp/ipykernel_1777985/1778536419.py:3: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  obs_spark_case=gt.groupby('gene')['obs_spark_case'].agg(sum).reset_index()
/tmp/ipykernel_1777985/1778536419.py:4: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  obs_spark_ctrl=gt.groupby('gene')['obs_spark_ctrl'].agg(sum).reset_index()
/tmp/ipykernel_1777985/1778536419.py:5: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  exp_spark=gt.groupby('gene')['exp_spark'].agg(sum).reset_index()
/tmp/ipykernel_1777985/1778536419.py:6: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  obs_ssc_case=gt.groupby('gene')['obs_ssc_case'].agg(sum).reset_index()
/tmp/ipykernel_1777985/1778536419.py:7: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  obs_ssc_ctrl=gt.groupby('gene')['obs_ssc_ctrl'].agg(sum).reset_index()
/tmp/ipykernel_1777985/1778536419.py:8: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  exp_ssc=gt.groupby('gene')['exp_ssc'].agg(sum).reset_index()

,gene,obs_spark_case,obs_spark_ctrl,exp_spark,obs_ssc_case,obs_ssc_ctrl,exp_ssc
0,A1BG,0,0,0.133178,0,0,0.085058
1,A1CF,7,0,6.529157,3,3,4.170036
2,A2M,2,2,2.113447,1,0,1.349814
3,A2M-AS1,0,0,0.135189,0,0,0.086343
4,A2ML1,0,2,1.461744,2,1,0.933585
...,...,...,...,...,...,...,...
23671,ZYG11A,3,0,1.591981,1,1,1.016765
23672,ZYG11B,12,6,5.071013,3,5,3.238750
23673,ZYX,1,0,0.531557,1,1,0.339494
23674,ZZEF1,7,3,5.908342,6,3,3.773534
23675,ZZZ3,6,2,7.872832,5,7,5.028212

In [61]:
#save the final file to run possion in R
merged_gt.to_csv('dnm_1kb_case.csv', sep='\t', index=False)

In [101]:
import pandas as pd
DNM_gt=pd.read_csv('dnm_1kb_case.csv', sep='\t')
DNM_gt

,gene,obs_spark_case,obs_spark_ctrl,exp_spark,obs_ssc_case,obs_ssc_ctrl,exp_ssc
0,A1BG,0,0,0.133178,0,0,0.085058
1,A1CF,7,0,6.529157,3,3,4.170036
2,A2M,2,2,2.113447,1,0,1.349814
3,A2M-AS1,0,0,0.135189,0,0,0.086343
4,A2ML1,0,2,1.461744,2,1,0.933585
...,...,...,...,...,...,...,...
23671,ZYG11A,3,0,1.591981,1,1,1.016765
23672,ZYG11B,12,6,5.071013,3,5,3.238750
23673,ZYX,1,0,0.531557,1,1,0.339494
23674,ZZEF1,7,3,5.908342,6,3,3.773534
23675,ZZZ3,6,2,7.872832,5,7,5.028212

In [102]:
#spark
# calculated fisher exact p value
from numpy import inf
#DNM_gt = DNM_gt.replace(np.inf, 0)
DNM_gt = DNM_gt.replace(np.NAN, 0)

#intergenic cadd >=15
DNM_gt['obs_spark_case_other']=3508-DNM_gt['obs_spark_case']
DNM_gt['obs_spark_ctrl_other']=2188-DNM_gt['obs_spark_ctrl']
##caculated fisherexact p value
import pandas as pd
from scipy.stats import fisher_exact

# Assuming DNM is your existing DataFrame and it's already loaded

# Add new columns for P-value and odds ratio initialized with NaNs
DNM_gt['pvalue_spark'] = pd.NA
DNM_gt['OR_spark'] = pd.NA

for index, row in DNM_gt.iterrows():
    # Construct the contingency table with the current row's data
    table = [[row['obs_spark_case'], row['obs_spark_ctrl']],
             [row['obs_spark_case_other'], row['obs_spark_ctrl_other']]]
    
    # Perform Fisher's Exact Test
    odds_ratio, p_value = fisher_exact(table, alternative='greater')
    
    # Add the results directly to the same row in DNM
    DNM_gt.at[index, 'pvalue_spark'] = p_value
    DNM_gt.at[index, 'OR_spark'] = odds_ratio

# At this point, DNM has two new columns: 'P-value' and 'odds_ratio'

DNM_gt.fillna(np.inf, inplace=True) #if not the excel will wrong
DNM_gt

/tmp/ipykernel_1777985/724628890.py:34: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  DNM_gt.fillna(np.inf, inplace=True) #if not the excel will wrong

,gene,obs_spark_case,obs_spark_ctrl,exp_spark,obs_ssc_case,obs_ssc_ctrl,exp_ssc,obs_spark_case_other,obs_spark_ctrl_other,pvalue_spark,OR_spark
0,A1BG,0,0,0.133178,0,0,0.085058,3508,2188,1.0,inf
1,A1CF,7,0,6.529157,3,3,4.170036,3501,2188,0.03353,inf
2,A2M,2,2,2.113447,1,0,1.349814,3506,2186,0.838678,0.623503
3,A2M-AS1,0,0,0.135189,0,0,0.086343,3508,2188,1.0,inf
4,A2ML1,0,2,1.461744,2,1,0.933585,3508,2186,1.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
23671,ZYG11A,3,0,1.591981,1,1,1.016765,3505,2188,0.233521,inf
23672,ZYG11B,12,6,5.071013,3,5,3.238750,3496,2182,0.427912,1.248284
23673,ZYX,1,0,0.531557,1,1,0.339494,3507,2188,0.615871,inf
23674,ZZEF1,7,3,5.908342,6,3,3.773534,3501,2185,0.422723,1.456251
23675,ZZZ3,6,2,7.872832,5,7,5.028212,3502,2186,0.349289,1.872644

In [103]:
#spark
# calculated fisher exact p value
from numpy import inf
#DNM_gt = DNM_gt.replace(np.inf, 0)
DNM_gt = DNM_gt.replace(np.NAN, 0)

#intergenic cadd >=15
DNM_gt['obs_ssc_case_other']=2274-DNM_gt['obs_ssc_case']
DNM_gt['obs_ssc_ctrl_other']=1835-DNM_gt['obs_ssc_ctrl']
##caculated fisherexact p value
import pandas as pd
from scipy.stats import fisher_exact

# Assuming DNM is your existing DataFrame and it's already loaded

# Add new columns for P-value and odds ratio initialized with NaNs
DNM_gt['pvalue_ssc'] = pd.NA
DNM_gt['OR_ssc'] = pd.NA

for index, row in DNM_gt.iterrows():
    # Construct the contingency table with the current row's data
    table = [[row['obs_ssc_case'], row['obs_ssc_ctrl']],
             [row['obs_ssc_case_other'], row['obs_ssc_ctrl_other']]]
    
    # Perform Fisher's Exact Test
    odds_ratio, p_value = fisher_exact(table, alternative='greater')
    
    # Add the results directly to the same row in DNM
    DNM_gt.at[index, 'pvalue_ssc'] = p_value
    DNM_gt.at[index, 'OR_ssc'] = odds_ratio

# At this point, DNM has two new columns: 'P-value' and 'odds_ratio'

DNM_gt.fillna(np.inf, inplace=True) #if not the excel will wrong
DNM_gt

/tmp/ipykernel_1777985/867604510.py:34: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  DNM_gt.fillna(np.inf, inplace=True) #if not the excel will wrong

,gene,obs_spark_case,obs_spark_ctrl,exp_spark,obs_ssc_case,obs_ssc_ctrl,exp_ssc,obs_spark_case_other,obs_spark_ctrl_other,pvalue_spark,OR_spark,obs_ssc_case_other,obs_ssc_ctrl_other,pvalue_ssc,OR_ssc
0,A1BG,0,0,0.133178,0,0,0.085058,3508,2188,1.0,inf,2274,1835,1.0,inf
1,A1CF,7,0,6.529157,3,3,4.170036,3501,2188,0.03353,inf,2271,1832,0.750515,0.806693
2,A2M,2,2,2.113447,1,0,1.349814,3506,2186,0.838678,0.623503,2273,1835,0.553419,inf
3,A2M-AS1,0,0,0.135189,0,0,0.086343,3508,2188,1.0,inf,2274,1835,1.0,inf
4,A2ML1,0,2,1.461744,2,1,0.933585,3508,2186,1.0,0.000000,2272,1834,0.579843,1.614437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23671,ZYG11A,3,0,1.591981,1,1,1.016765,3505,2188,0.233521,inf,2273,1834,0.800626,0.806863
23672,ZYG11B,12,6,5.071013,3,5,3.238750,3496,2182,0.427912,1.248284,2271,1830,0.914918,0.483487
23673,ZYX,1,0,0.531557,1,1,0.339494,3507,2188,0.615871,inf,2273,1834,0.800626,0.806863
23674,ZZEF1,7,3,5.908342,6,3,3.773534,3501,2185,0.422723,1.456251,2268,1832,0.369158,1.615520
23675,ZZZ3,6,2,7.872832,5,7,5.028212,3502,2186,0.349289,1.872644,2269,1828,0.893159,0.575458

In [105]:
DNM_gt.to_csv('dnm_1kb_final.csv', sep=',', index=False)